/*...............................................................................................................
.................................................................................................................*/
        /*_____________Tablet vertical o menos____________________________*/
        @media (max-width:1023px)
        {
        /* INDICE:
            1. Aside
            2. Footer
            3. Main
                3.1 Main Galería
                3.2 Main Clases
                3.3 Main Sobre mí
        */
            /*____________________1. ASIDE__________________________________*/
                aside {
                    max-height: 70px;
                    position: sticky;
                    top: 0px;
                    z-index: 100;
                }
                header { 
                    visibility: hidden;
                    display:none;
                }
                .responsive {
                    visibility: hidden;
                    display: none;
                }
                .grid-principal {
                    display: grid;
                    grid-template-rows: row row;
                    grid-template-columns: auto;
                }
                .logo-movil {
                    max-width:200px;
                }
                .horizontal {
                    display: inline;
                }
                .menu-horizontal {
                    visibility: visible;
                    display: block;
                }
                .aside-responsive {
                    display: flex;
                    align-content: center;
                    justify-content: space-around;
                }
            /*____________________2. FOOTER__________________________________*/

            /*____________________3. MAIN__________________________________*/
            
            .titulo {
                margin: 2rem;
            }

                /*____________________3.1 MAIN GALERÍA__________________________________*/
                .galeria {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: repeat(9);
                    column-gap: 1rem;
                }
                /*____________________MAIN CLASES__________________________________*/
                
                    /*Sección Lugar*/
                    .taller { 
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: auto;
                        column-gap: 2rem;
                        &-imagen {
                            
                            max-height: 30rem;
                            border-radius: 10px;
                        }
                    }
                    .lugar-div {
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-template-rows: 3fr 2fr;
                        padding: 2rem;
                        border-radius: 10px;
                        min-width: 15rem;
                    }
                /*____________________MAIN SOBRE MI__________________________________*/
                .sobremi{
                    display: grid;
                    grid-template-rows: 60% 40%;
                    grid-template-columns: 1fr;
                        & div {
                            justify-self: center;
                        }
                        &-imagen {
                            max-height: 30rem;
                        }
                }
        }