/*...............................................................................................................
.................................................................................................................*/
    /*_____________Móvil horizontal o menos____________________________*/
    @media (max-width:599px)
    {
        /*____________________ASIDE____________________*/
        .aside-responsive {
            display: flex;
            align-content: center;
            justify-content: space-around;
        }
        /*____________________MAIN GALERÍA__________________________________*/
        .galeria {
            display: grid;
            grid-template-columns: 1fr;
        }

        section {
            padding: 0.5rem;
            
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
}