/*-----------------------------------FOOTER-----------------------------------*/
footer {
    background-image: url(./imagenes/footer.jpg);
    color: white;
    font-size: 80%;
    padding: 1rem;
}
.copyright {
    font-style: italic;
    font-weight: none;
    font-size: 60%;
    text-align: center;
    }
.mapa { /*Hacer responsive, genera desplazamiento lateral en dispositivos pequeños*/
    width: 300px;
    height: 200px;
    }
