/*-----------------------------------MAIN CLASES-----------------------------------*/

/*Ordenadas por secciones..........................................................*/
    /*_______1. Objetivo_______*/
    /*_______2. Funcionamiento_______*/
    /*_______3. Materiales_______*/
        
        .seccion-materiales {
            background-image: url(./imagenes/materiales.jpg);
            background-size: contain;
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: minmax(100px, 500px);
            padding: 0px;
            margin: 0px;
            border: 0px;
                & div h2 {
                    padding: 1rem;
                    padding-left: 3rem;
                }
                & div p {
                    padding-left: 2rem;
                }
        }
    /*_______4. Horarios_______*/
        
        .item-horarios {
            
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }
    /*_______5. Lugar_______*/
        
        .seccion-lugar {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            margin: 0px;
            padding: 0px;
                & div iframe {
                    padding: 2rem;
                }
                & div p {
                    padding-left: 2rem;
                }
        }
        .taller { 
            width: 100%;
            height: 100%;
            padding: 2rem;
            &-fondo {
                background-image: url(../imagenes/lasclases.jpg);
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: center;
            }
        }
        .mapa {
            width: 100%;
            height: 100%;
            padding-bottom: 1.5rem;
        }
        .lugar-div {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 3fr 2fr;
            padding: 2rem;
            border-radius: 10px;
        }
    /*_______6. Información_______*/
    .aviso {
        color: black;
        text-align: left;
    }
    .enfasis {
        font-size: 200%;
        font-weight: bold;
    }