/*-----------------------------------MAIN INDEX-----------------------------------*/
.caja {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
}
.carrusel {
    z-index: 10;
    padding-right: 3rem;
    margin-top: 4rem;
    
}
.carrusel-desborde {
    max-height: 390px;
}
.suelo {
    position: absolute;
    z-index: 3;
    top: 0rem;
    width: 99vw;
    height: 31rem;
    background-color: white;
    overflow: hidden;
}
.portada {
    margin: 0px;
    padding: 0px;
        &-ilus {
            position: absolute;
            z-index: 10;
            top: 8rem;
            max-height: 25rem;
            padding-left: 3rem;
        }
}
.fondo-blanco {
    background-color: white;
}
.index-portfolio {
    padding: 8rem;
}
/*Flecha carousel Bootstrap*/
.carousel-control-next-icon {
    background-image: url( ../imagenes/lapiz.png); 
    min-width: 100%;
}