/*-----------------------------------MAIN INDEX-----------------------------------*/
.fondo-portfolio-index {
    background-color: rgb(104, 104, 104);
}
.caja-prueba {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 1rem;
}