/*-----------------------------------MAIN SOBRE MÍ-----------------------------------*/
.sobremi{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    &-imagen {
        max-height: 30rem;
    }
}