/*-----------------------------------MAIN GALERÍA-----------------------------------*/
.galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6);
    column-gap: 1rem;
    }
    /*Corrección de estilo para el zoom implementado a través de Lightbox*/
    .lightbox {
        display: block;
        height: auto;
        max-width: inherit;
        max-height: none;
        border-radius: 0px;
        border: none;
    }
    .lb-image {
        display: block;
        height: auto;
        max-width: inherit;
        max-height: none;
        border: none;
    }
    .lightbox .lb-image {
        display: block;
        height: auto;
        max-width: inherit;
        max-height: none;
        border-radius: 0px !important; /* No se sobreescribía sencillamente cambiando la clase, necesario important para anular lightbox. Pendiente una solución mejor.*/
        border: none !important;
    }
    