/*...............................................................................................................
.................................................................................................................*/
    /*_____________Móvil horizontal o menos____________________________*/
    @media (max-width:599px)
    {
        /*____________________MAIN GALERÍA__________________________________*/
        .portfolio-uno {
            display: grid;
            grid-template-columns: 1fr;
        }

        section {
            padding: 0rem;
        }
}