/*-----------------------------------ASIDE-----------------------------------*/

aside {
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    & nav ul li {
        margin-top: 1rem;
        padding: 0,5rem;
    }
}