/*-----------------------------------FOOTER-----------------------------------*/

#copyright {
    width: 1.5rem;
    height: 1.5rem;
    }

.footer {
    background-color: rgb(147, 115, 94);
    padding: 2rem;
    text-align: center;
        &-redes {
            display: flex;
            justify-content: center;
            margin: 2rem;
            margin-top: 1rem;
        }
        &-logo {
            width: 2rem;
            margin: 0;
                &-derecha {
                    margin-right: 1rem;
                }
                &-izquierda {
                    margin-left: 1rem;
                }
        }
        &-vh {
            min-height: 25vh;
        }
}
