/*-----------------------------------FOOTER-----------------------------------*/
footer {
    background-color: rgb(156, 157, 159);
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 1rem;
}
    
.copyright {
    font-style: italic;
    font-weight: none;
    font-size: 60%;
    text-align: center;
    }
