/*-----------------------------------MAIN CONTACTO-----------------------------------*/
.datos {
    font-style: italic;
    font-size: 80%;
    font-weight: none;
}
.contacto-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 3rem;
}
.item-formulario {
    align-self: center;
    border-radius: 10px;
    &-span {
        margin-bottom: 0.5rem;
    }
}
.divisor {
    margin: 1rem;
}
label {
    width: 100%;
}
input {
    border: none;
    width: 100%;
    padding: 0.5rem;
}
textarea {
    border: none;
    width: 100%;
}
select {
    border: none;
}
.asunto-movil {
    display: none;
}
.boton {
    background-color:rgb(147, 115, 94);
    border-radius: 10px;
    padding: 0.375rem 0.75rem;
}
