/*-----------------------------------MAIN GALERÍA-----------------------------------*/
.galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6);
    column-gap: 1rem;
    %-vertical {
        margin-top: 2rem;
    }
}