/*-----------------------------------GENERAL-----------------------------------*/

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0rem;
    font-size: 1.1rem;
    z-index: 2;
}
a {
    text-decoration: none;
    color: black;
    &:hover {
        color: rgb(129, 82, 76);
    }
    
}
.a-boton:hover {
    color:black;
    background-color: rgb(238, 198, 173);;
}
li {
    list-style: none;
}

section {
    padding: 3rem;
}

.grid-principal {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: repeat(auto);
    min-height: 75vh;
}
.block {
    display: block;
}
.no-margin {
    margin: 0px;
}
    /*CORRECCION PROBLEMAS DE BOOSTRAP, generaba desplazamiento lateral*/
    .row {
        margin-right: 0rem;
    }
    .navbar-expand .navbar-nav .dropdown-menu {
        left: -57px;
        position: absolute;
    }

    /*---------------------------Texto---------------------------*/
        .texto {
            &-blanco {
                color: white;
            }
            &-marron {
                color: rgb(129, 82, 76);
            }
            &-resaltado {
                font-weight: bold;
            }
            &-centrado {
                text-align: center;
            }
            &-derecha {
                text-align: right;
            }
        }

        .destacado {
            color: rgb(129, 82, 76);
            font-weight: bold;
        }
        .titulo {
            margin: 3rem;
            color: rgb(129, 82, 76);
            font-weight: bold;
                &-h2 {
                    font-weight: normal;
                    margin: 2rem;
                }
        }

    /*---------------------------Imágenes---------------------------*/
        .imagen-filtro:hover {
            filter:saturate(50%);
        }
        .imagen-filtro {
            width: 100%;
            object-fit: contain;
        }
        .imagen-prueba {
            max-width: 100%;
            max-height: 100%;
        }
        .inclinar-derecha:hover {
            transform: rotate(8deg) translate(6px, 0px)
        }
        .inclinar-izquierda:hover {
            transform: rotate(352deg) translate(0px, 6px)
        }
        .subir:hover {
            transform: translateY(-8px)
        }
        .icon {
            max-width: 25px;
        }
        .error {
            display: flex;
            justify-content: center;
                &-imagen {
                    width: 75%;
                }

        }
    /*------Fondos------------------*/
        .fondo-papel {
            background-image:url(../imagenes/ep_naturalwhite.png);
            background-attachment: fixed;
                    /*=========================================================================
                    This pattern is downloaded from www.toptal.com/designers/subtlepatterns/ 
                    If you need more, that's where to get'em.
                    ======================================================================== */
        }