@charset "UTF-8";
/*<<<<<<<<<<<<<<<<<_______________INFO_______________>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
Tipografía: 
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px = 0,875 rem
Paleta de color: 
    color: white;´
    color: black; 
    color: rgb(53, 53, 53); 
    color: rgb(129, 82, 76); camiseta
    color: rgb(147, 115, 94); pelo
    color: rgb(156, 157, 159); chaqueta
    color: rgb(238, 198, 173); piel

____________________________________________________________________________________________________________________________*/
/*................IMPORTS....................*/
/*..Estilos comunes....*/
/*-----------------------------------ASIDE-----------------------------------*/
aside {
  background-color: black;
  font-size: 20px;
  z-index: 3; }
  aside nav ul li {
    margin-top: 1rem;
    padding: 0,5rem; }
  aside a:hover {
    color: #81524c; }
  aside-hover:hover {
    transform: translate(6px, 6px); }

.aside {
  color: white;
  font-size: 100%;
  font-weight: bold; }
  .aside-logo {
    margin: 1rem;
    margin-top: 0;
    width: 90%;
    height: 100%; }
  .aside-lapiz {
    max-height: 1rem;
    padding-left: 0.5rem; }

.justify {
  display: flex;
  justify-content: flex-start;
  flex-direction: column; }

.sticky {
  position: sticky;
  top: 2rem;
  z-index: 100; }

.seleccionada {
  color: #686868; }

.menu-horizontal {
  visibility: hidden;
  display: none; }

.dropdown-menu-dark {
  width: 100%; }

.dropdown-menu .margen-inferior {
  padding-bottom: 2rem; }

/*-----------------------------------FOOTER-----------------------------------*/
.footer {
  background-color: #93735e;
  padding: 2rem;
  text-align: center; }
  .footer-redes {
    display: flex;
    justify-content: center;
    margin: 2rem;
    margin-top: 1rem; }
  .footer-logo {
    width: 2rem;
    margin: 0; }
    .footer-logo-derecha {
      margin-right: 1rem; }
    .footer-logo-izquierda {
      margin-left: 1rem; }
  .footer-vh {
    min-height: 25vh; }

/*-----------------------------------GENERAL-----------------------------------*/
body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0rem;
  font-size: 1.1rem;
  z-index: 2; }

a {
  text-decoration: none;
  color: black; }

li {
  list-style: none; }

section {
  padding: 3rem; }

.grid-principal {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: repeat(auto);
  min-height: 75vh; }

.block {
  display: block; }

.no-margin {
  margin: 0px; }

/*CORRECCION PROBLEMAS DE BOOSTRAP, generaba desplazamiento lateral*/
.row {
  margin-right: 0rem; }

.navbar-expand .navbar-nav .dropdown-menu {
  left: -57px;
  position: absolute; }

/*---------------------------Texto---------------------------*/
.texto-blanco {
  color: white; }

.texto-marron {
  color: #81524c; }

.texto-resaltado {
  font-weight: bold; }

.texto-centrado {
  text-align: center; }

.texto-derecha {
  text-align: right; }

.destacado {
  color: #81524c;
  font-weight: bold; }

.titulo {
  margin: 3rem;
  color: #81524c;
  font-weight: bold; }
  .titulo-h2 {
    font-weight: normal;
    margin: 2rem; }

/*---------------------------Imágenes---------------------------*/
.imagen-filtro:hover {
  filter: saturate(50%); }

.imagen-filtro {
  width: 100%;
  object-fit: contain; }

.imagen-prueba {
  max-width: 100%;
  max-height: 100%; }

.inclinar-derecha:hover {
  transform: rotate(8deg) translate(6px, 0px); }

.inclinar-izquierda:hover {
  transform: rotate(352deg) translate(0px, 6px); }

.subir:hover {
  transform: translateY(-8px); }

.icon {
  max-width: 25px; }

/*------Fondos------------------*/
.fondo-papel {
  background-image: url(../imagenes/ep_naturalwhite.png);
  /*=========================================================================
                    This pattern is downloaded from www.toptal.com/designers/subtlepatterns/ 
                    If you need more, that's where to get'em.
                    ======================================================================== */ }

/*..Estilos específicos de cada página html..*/
/*-----------------------------------MAIN INDEX-----------------------------------*/
.caja {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr; }

.carrusel {
  z-index: 10;
  padding-right: 3rem;
  margin-top: 4rem; }

.carrusel-desborde {
  max-height: 390px; }

.suelo {
  position: absolute;
  z-index: 3;
  top: 0rem;
  width: 100%;
  height: 31rem;
  background-color: white;
  overflow: hidden; }

.portada {
  margin: 0px;
  padding: 0px; }
  .portada-ilus {
    position: absolute;
    z-index: 10;
    top: 8rem;
    max-height: 25rem;
    padding-left: 3rem; }

.fondo-blanco {
  background-color: white; }

.index-portfolio {
  padding-top: 8rem; }
  .index-portfolio-imagen {
    margin-top: 3rem;
    margin-bottom: 2rem; }
  .index-portfolio-boton {
    padding-top: 4rem; }

.boton-index {
  padding: 1.1rem;
  background-color: #93735e;
  border-radius: 10px;
  padding: 0.75rem;
  max-width: 20rem; }
  .boton-index-div {
    display: flex;
    flex-direction: column;
    align-items: center; }

#p-i-portfolio {
  padding-left: 1rem; }

/*Flecha carousel Bootstrap*/
.carousel-control-next-icon {
  background-image: url(../imagenes/lapiz.png);
  min-width: 100%; }

/*-----------------------------------MAIN CLASES-----------------------------------*/
.imagen-max-espacio {
  max-width: fit-content;
  max-height: 500px;
  object-fit: cover; }

.enfasis {
  font-size: 200%;
  font-weight: bold; }

.aviso {
  color: black;
  text-align: left; }

.seccion-materiales {
  background-image: url(./imagenes/materiales.jpg);
  background-size: contain;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: minmax(100px, 500px);
  padding: 0px;
  margin: 0px;
  border: 0px; }
  .seccion-materiales div h2 {
    padding: 1rem;
    padding-left: 3rem; }
  .seccion-materiales div p {
    padding-left: 2rem; }

.item-horarios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }

.seccion-lugar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin: 0px;
  padding: 0px; }
  .seccion-lugar div iframe {
    padding: 2rem; }
  .seccion-lugar div p {
    padding-left: 2rem; }

.taller {
  padding: 2rem; }

.fondo-funcionamiento {
  background-image: url(/imagenes/funcionamiento.png);
  background-size: contain; }

/*-----------------------------------MAIN CONTACTO-----------------------------------*/
.datos {
  font-style: italic;
  font-size: 80%;
  font-weight: none; }

.contacto-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 3rem; }

.item-formulario {
  align-self: center;
  border-radius: 10px; }
  .item-formulario-span {
    margin-bottom: 0.5rem; }

.divisor {
  margin: 1rem; }

label {
  width: 100%; }

input {
  border: none;
  width: 100%;
  padding: 0.5rem; }

textarea {
  border: none;
  width: 100%; }

select {
  border: none; }

.asunto-movil {
  display: none; }

.boton {
  background-color: #93735e;
  border-radius: 10px;
  padding: 0.375rem 0.75rem; }

.check {
  width: 1.5rem;
  height: 1.5rem; }

/*-----------------------------------MAIN EVENTOS-----------------------------------*/
.eventos {
  padding: 3rem; }

/*-----------------------------------MAIN SOBRE MÍ-----------------------------------*/
.sobremi {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr; }
  .sobremi-imagen {
    max-height: 30rem; }

/*-----------------------------------MAIN GALERÍA-----------------------------------*/
.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(6);
  column-gap: 1rem; }

/*..Media Querys..*/
/*...............................................................................................................
.................................................................................................................*/
/*_____________Tablet vertical o menos____________________________*/
@media (max-width: 1023px) {
  /* INDICE:
            1. Aside
            2. Footer
            3. Main
                3.1 Main Galería
                3.2 Main Clases
                3.3 Main Sobre mí
        */
  /*____________________1. ASIDE__________________________________*/
  aside {
    max-height: 70px;
    position: sticky;
    top: 0px;
    z-index: 100; }
  header {
    visibility: hidden;
    display: none; }
  .responsive {
    visibility: hidden;
    display: none; }
  .grid-principal {
    display: grid;
    grid-template-rows: row row;
    grid-template-columns: auto; }
  .logo-movil {
    max-width: 200px; }
  .horizontal {
    display: inline; }
  .menu-horizontal {
    visibility: visible;
    display: block; }
  .aside-responsive {
    display: flex;
    align-content: center;
    justify-content: space-around; }
  /*____________________2. FOOTER__________________________________*/
  /*____________________3. MAIN__________________________________*/
  .titulo {
    margin: 2rem; }
  /*____________________3.1 MAIN GALERÍA__________________________________*/
  .galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(9);
    column-gap: 1rem; }
  /*____________________MAIN CLASES__________________________________*/
  /*____________________MAIN SOBRE MI__________________________________*/
  .sobremi {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr; }
    .sobremi div {
      justify-self: center; }
    .sobremi-imagen {
      max-height: 30rem; } }

/*...............................................................................................................
.................................................................................................................*/
/*_____________Móvil horizontal o menos____________________________*/
@media (max-width: 599px) {
  /* INDICE:
            1. Aside
            2. Footer
            3. Main
                3.1 Main Galería
                3.2 Main Clases
                3.3 Main Sobre mí
        */
  /*____________________ASIDE____________________*/
  .aside-responsive {
    display: flex;
    align-content: center;
    justify-content: space-around; }
  /*____________________FOOTER____________________*/
  .footer {
    background-color: #93735e;
    padding: 2rem; }
    .footer-redes {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      margin: 2rem;
      margin-top: 1rem; }
    .footer-logo {
      width: 2rem;
      margin: 0;
      margin-bottom: 1rem;
      align-items: center; }
      .footer-logo-derecha {
        margin-right: 0rem;
        justify-self: flex-start; }
      .footer-logo-izquierda {
        margin-left: 0rem;
        justify-self: flex-end; }
    .footer-vh {
      min-height: 25vh; }
  /*____________________MAIN__________________________________*/
  section {
    margin: 0rem;
    padding: 2rem; }
  .texto-centrado-movil {
    text-align: center; }
  /*____________________MAIN GALERÍA__________________________________*/
  .galeria {
    display: grid;
    grid-template-columns: 1fr; }
  /*____________________MAIN SOBRE MI__________________________________*/
  .sobremi {
    display: grid;
    grid-template-rows: 20rem 1fr;
    grid-template-columns: 1fr; }
    .sobremi-imagen {
      max-height: 20rem; }
  /*____________________MAIN CONTACTO__________________________________*/
  .asunto {
    display: none; }
    .asunto-movil {
      display: block;
      /*PEndiente corregir el margen*/ }
  .contacto-movil {
    padding: 1rem;
    margin-bottom: 2rem; }
    .contacto-movil-extra {
      padding: 2rem; } }

/*--Referencias--*/
/*
- En clases.html // __estilo-main-clases.scss>.fondo-clases se utiliza:
www.toptal.com/designers/subtlepatterns/ 
- Animación de títulos en todas las páginas wowjs.uk
*/
