@charset "UTF-8";
/*<<<<<<<<<<<<<<<<<_______________INFO_______________>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
Tipografía: 
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px = 0,875 rem
Paleta de color: color: white; color: black; rgb(39, 39, 39); rgb(53, 53, 53); rgb(104, 104, 104);
____________________________________________________________________________________________________________________________*/
/*................IMPORTS....................*/
/*..Estilos comunes....*/
/*-----------------------------------ASIDE-----------------------------------*/
aside {
  background-color: black;
  font-size: 20px; }
  aside nav ul li {
    margin-top: 1rem;
    padding: 0,5rem; }

.aside {
  color: white;
  font-size: 100%;
  font-weight: bold;
  background-color: black; }
  .aside-logo {
    margin: 2rem;
    margin-top: 0;
    width: 140px;
    height: 36px; }

.justify {
  display: flex;
  justify-content: flex-start;
  flex-direction: column; }

.sticky {
  position: sticky;
  top: 2rem;
  z-index: 100; }

.seleccionada {
  color: #686868; }

.menu-horizontal {
  visibility: hidden;
  display: none; }

/*-----------------------------------FOOTER-----------------------------------*/
footer {
  background-color: #272727;
  color: white;
  font-size: 80%;
  padding: 1rem; }

.copyright {
  font-style: italic;
  font-weight: none;
  font-size: 60%;
  text-align: center; }

.mapa {
  /*Hacer responsive, genera desplazamiento lateral en dispositivos pequeños*/
  width: 300px;
  height: 200px; }

/*-----------------------------------GENERAL-----------------------------------*/
body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0rem;
  font-size: 0,875rem; }

a {
  text-decoration: none;
  color: black; }

li {
  list-style: none; }

section {
  padding: 3rem; }

.fondo-ilus {
  background-image: url(../imagenes/fondo4.jpg);
  height: 400px; }

.grid-principal {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: repeat(auto); }

/*---------------------------Texto---------------------------*/
.texto-blanco {
  color: white; }

.texto-resaltado {
  font-weight: bold; }

.texto-pequeño {
  font-size: 80%; }

.texto-centrado {
  text-align: center; }

.texto-derecha {
  text-align: right; }

.todo-mayus {
  text-transform: uppercase; }

.titulo {
  margin: 3rem;
  margin-bottom: 0rem; }

/*---------------------------Imágenes---------------------------*/
.imagen-filtro:hover {
  filter: saturate(50%); }

.imagen-filtro {
  width: 100%;
  height: 80vh;
  object-fit: contain;
  margin-bottom: 2rem; }

.imagen-prueba {
  max-width: 100%;
  max-height: 100%; }

.inclinar-derecha:hover {
  transform: rotate(8deg) translate(6px, 0px); }

.inclinar-izquierda:hover {
  transform: rotate(352deg) translate(0px, 6px); }

.subir:hover {
  transform: translateY(-8px); }

.icon {
  max-width: 25px; }

.sombra-izquierda {
  box-shadow: -5px 5px 10px 4px #000000; }

/*..Estilos específicos de cada página html..*/
/*-----------------------------------MAIN INDEX-----------------------------------*/
/*-----------------------------------MAIN CLASES-----------------------------------*/
/*-----------------------------------MAIN CONTACTO-----------------------------------*/
/*-----------------------------------MAIN EVENTOS-----------------------------------*/
/*-----------------------------------MAIN SOBRE MÍ-----------------------------------*/
/*-----------------------------------MAIN GALERÍA-----------------------------------*/
